<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Dragonfly_NovaposhtaBasic::configuration" title="Nova Poshta Basic Settings"/>
						</resource>
					</resource>
				</resource>
				<resource id="Dragonfly_NovaposhtaBasic::management" title="Nova Poshta Management"/>
			</resource>
		</resources>
	</acl>
</config>
